# A gitignore file for latex projects
# Found at https://gist.github.com/kogakure/149016
# at 22-09-2014

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.swp

# Add pdf because this can be easly build using the .tex files
*.pdf

# Add all temporary files added by Jorian's editor
TSWLatexianTemp*.*
